*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: #1BA1AD; 
     overflow: hidden; 

}
.contaner{
    width: 350px;
    height: 400px;
left: 40%;
position: absolute;
    background-color:white;
    border-radius: 20px;
   bottom: 30%;
    z-index: 2;
}

.iocn{
    position: relative;
}
.io svg{
    
    border-radius:20px 20px 0 0 ;
    
    
}
.iocn img{
    border-radius: 100px;
    position: absolute;
    border: white 5px solid;
    right: 130px;
    top: 90px;
}
.conter{
    margin: 70px 0 0 110px ;
    
}
.conter h2{
    
display: inline-block;
}
.conter p{
    display: inline;
    opacity: 0.5;
    margin-left: 2px;
}
span{
    display: block;
    margin-left: 40px;
    margin-top: 10px;
    opacity: 0.5;
}
hr{
    margin-top: 30px;
    opacity: 0.5;
}
.co{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 25px;
}
.co p{
    opacity: 0.5;
    font-size: 10px;
}
.amg.e{
position: absolute;
bottom:43px;
right: 202px;

}
.amg.a{
    position: absolute;
    bottom:43px;
    right: 202px;
    
    }
@media (min-width:100px) and (max-width: 1000px){
    .amg.e{
        
        position: absolute;
        bottom:-600px;
        left: 160px;
        }
        .amg.a{
            position: absolute;
            bottom:-43px;
            right: 202px;
            
            }
            .contaner{
                width: 350px;
                height: 400px;
            left: 45%;
            position: absolute;
                background-color:white;
                border-radius: 20px;
               top: 80%;
                z-index: 2;
            }
        
}
@media (min-width:1001px){
    .amg.e{
        position: absolute;
        bottom:-500px;
        right: -320px;
        
        }
}